.product {
  display: grid;
  /* background-color: rgb(175, 175, 175); */
  padding: 1rem;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.product a {
  border-radius: 3px;
  box-shadow: 0 0px 2px black;
  background-color: rgb(255, 255, 255);
}

.category {
  display: flex;
  gap: 1rem;
  color: gray;
  text-transform: capitalize;
  margin: 0.1rem 1rem;
  justify-content: space-between;
}

.imgs {
  width: 10vw;
  border-radius: 50%;
  height: 20vh;
  margin: 0.3rem 1rem;
  background-size: cover;
}

.htag {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0.3rem 1rem 0.3rem;
}

.id {
  font-size: 2rem;
  margin: 0.3rem 1rem;
}

.params_id img {
  width: 10vw;
  height: 20vh;
  border-radius: 50%;
  /* margin: 0.4rem 0 0.4rem; */
}

/* ===================================================== */
.params_id {
  padding: 1rem;
  box-shadow: 0 0px 2px black;
  background-color: rgb(255, 255, 255);
  margin: 1rem;
  border-radius: 3px;
}

.mains {
  display: flex;
  gap: 1rem;
}

.ids {
  font-size: 2rem;
}

.categorys {
  display: flex;
  color: gray;
  gap: 0.3rem;
  text-transform: capitalize;
  align-items: center;
}

.body p {
  font-size: 1.3rem;
}

.htags {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /* margin: 0.3rem 1rem 0.3rem; */
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:.3rem 1rem;
  gap: 1rem;

  h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
  }
}

.search{
  border: 1px solid rgb(194, 194, 194);
  display: flex;
  width: 100%;
  max-width: 400px;
  gap: .2rem;
  justify-content: space-between;
  align-items: center;
  padding: .3rem .5rem;
  border-radius: 3px;

  input{
    width: 100%;
    border: none;
    outline: none;
  }
}

.input{
  display: flex;
  /* width: 100%; */
  /* max-width: 200px; */
  gap: .2rem;
  align-items: center;
  /* padding: .3rem .5rem; */
  /* border-radius: 3px; */
}